doctype html
html
    head
        title Create New Upload
        //script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEKjvE48-VV37P2pGBWFphvlrx8BXGDCs&callback=initMap")
        link(rel='stylesheet', href='/stylesheets/style.css')

        mixin filterMixin(filterBy, attributeList)
            select(style="flex-grow:1; margin: 5px;" onchange="filter(this.value, #{filterBy})").border
                option(value="none").option
                each attributeItem in attributeList
                    option(value=attributeItem).option #{attributeItem}

        //mixin filterRangeMixin(filterBy, low, high)
        //    select(style="flex-grow:1; margin: 5px;" onchange="filterRange(this.value, #{filterBy})").border
        //        option(value="none").option
        //        each attributeItem in attributeList
        //            option(value=[low, high]).option #{low} < #{high}

        mixin checkboxMixin(value, label)
            div
                input(type="checkbox", name="#{value}").checkbox
                span.label #{label}

        mixin checkBoxWithTextBoxMixin(value, label, textBoxValue)
            div.inline
                input(type="checkbox", name="#{value}").checkbox
                span.label #{label}
                input(type="text", name="#{value}", style="margin:5px; width:50%;").inline

        mixin textBoxMixin(value, label)
            div(style="display:flex; width:100%;").fullLine
                span.label #{label}
                input(type="text", name="#{value}", style="flex-grow:1; margin-left:5px;")

    body

        div(style="max-width:800px; margin:auto;")

            form(name="add-estimation-search", method="post" onsubmit="submitForm()" style="display:flex; flex-direction:column; flex-grow:1; flex-shrink:1; width: 100%;" autocomplete="off")
                div(style="width:100%")
                    +textBoxMixin("title", "Title")
                    div.fullLine
                        span.label Type
                        select(name="type").select
                            option(value="none").option
                            option(value="data").option data
                            option(value="repository").option repository
                            option(value="environmentalNGO").option environmental NGO
                            option(value="news").option news source/blog
                            option(value="indexTool").option index/measurement tool
                            option(value="plan").option plan/strategy
                            option(value="toolkitGuide").option toolkit/guide
                            option(value="researcherExpert").option researcher/expert
                            option(value="researchInstitute").option research institute
                            option(value="pubEngagementInstitute").option public engagement institute
                            option(value="networkPartnershipProgram").option network/partnership program
                            option(value="government").option government
                            option(value="event").option event
                            option(value="map").option map
                            option(value="otherType").option other
                    div.fullLine
                        span.label Scale
                        select(name="scale").select
                            option(value="none").option
                            option(value="institution").option institution
                            option(value="campus").option campus
                            option(value="reserve").option urban reserve/wildlife park
                            option(value="neighborhood").option community/neighborhood
                            option(value="municipality").option municipality
                            option(value="metro region").option metro region
                            option(value="district").option district/county
                            option(value="subnational").option subnational/provincial
                            option(value="city").option city-state/autonomous city
                            option(value="national").option national
                            option(value="international").option international
                            option(value="global").option global
                            option(value="N/A").option N/A
                    +textBoxMixin("url", "Main weblink")
                    +textBoxMixin("author", "Author/Organization")
                    div.fullLine
                        span.label Description
                        textarea(name="description", cols="40", rows="5").select
                    +textBoxMixin("location", "Location")
                div(style="width:100%; margin-bottom:5px; padding:5px;").border
                    div.bigLabel Specific Program or Document 1
                    +textBoxMixin("documentTitle1", "Title")
                    +textBoxMixin("documentWeblink1", "Weblink")
                    Div(style="display:flex;") How many documents need to be uploaded?
                        +checkboxMixin("0doc1", "0")
                        +checkboxMixin("1doc1", "1")
                        +checkboxMixin("2doc1", "2")
                        +checkboxMixin("3+doc1", "3+")
                    +textBoxMixin("publicationYear", "publication year")

                    div.bigLabel Specific Program or Document 2
                    +textBoxMixin("documentTitle2", "Title")
                    +textBoxMixin("documentWeblink2", "Weblink")
                    Div(style="display:flex;") How many documents need to be uploaded?
                        +checkboxMixin("0doc2", "0")
                        +checkboxMixin("1doc2", "1")
                        +checkboxMixin("2doc2", "2")
                        +checkboxMixin("3+doc2", "3+")
                    +textBoxMixin("publicationYear", "publication year")

                    div.bigLabel Specific Program or Document 3
                    +textBoxMixin("documentTitle3", "Title")
                    +textBoxMixin("documentWeblink3", "Weblink")
                    Div(style="display:flex;") How many documents need to be uploaded?
                        +checkboxMixin("0doc3", "0")
                        +checkboxMixin("1doc3", "1")
                        +checkboxMixin("2doc3", "2")
                        +checkboxMixin("3+doc3", "3+")
                    +textBoxMixin("publicationYear", "publication year")

                div.input.border
                    div(style="margin:5px;").label Please select a few relevant keywords or tags below.
                    div(style="background-color:#d8ecd4; display:grid; grid-template-columns:1fr 1fr 1fr 1fr; font-size:11px; margin:5px;").input
                        div(style="grid-column-start:1; grid-column-end:5; display:inline; padding:5px;")
                            div(style="display:inline;").bigLabel Ecosystems
                            div(style="display:inline; margin-left:5px;")
                                input(type="checkbox", name="all").checkbox
                                span.label CHECK ALL
                        +checkboxMixin("streams", "streams")
                        +checkboxMixin("delta", "river delta")
                        +checkboxMixin("oceans", "oceans")
                        +checkboxMixin("lakes", "lakes")
                        +checkboxMixin("wetlands", "wetlands")
                        +checkboxMixin("desert", "desert")
                        +checkboxMixin("forest", "forest")
                        +checkboxMixin("grassland", "savannah")
                        +checkboxMixin("steppe", "steppe/montane")
                        +checkboxMixin("tundra", "tundra/polar")
                        +checkboxMixin("shrubland", "shrubland")
                        +checkboxMixin("intertidal", "intertidal/beach")
                        +checkboxMixin("rooftop", "rooftop/vertical")
                        +checkboxMixin("rocky", "rocky")
                        +checkboxMixin("cave", "cave/underground")
                        +checkboxMixin("lawns", "lawns and gardens")
                        +checkboxMixin("cropFields", "crop fields")
                        +checkboxMixin("microbial", "microbial")
                        +checkBoxWithTextBoxMixin("other", "other", "otherEcosystems")
                    div.input
                        div.label Governance
                            +checkboxMixin("policy", "policy")
                            +checkboxMixin("index", "index")
                            +checkboxMixin("regulation", "regulation")
                            +checkboxMixin("spatialPlanning", "spatial planning")
                            +checkboxMixin("developmentPartnerships", "development partnerships")
                            +checkboxMixin("mainstreaming", "mainstreaming")
                            +checkBoxWithTextBoxMixin("other", "other", "otherGovernance")
                    div.input
                        div.label Consumption
                            +checkboxMixin("footprintMeasurement", "footprint measurement")
                            +checkboxMixin("sustainablePurchasing", "sustainable purchasing")
                            +checkboxMixin("shareholderActivism", "shareholder activism")
                            +checkboxMixin("urbanAgriculture", "urban agriculture")
                            +checkboxMixin("foraging", "foraging")
                            +checkBoxWithTextBoxMixin("other", "other", "otherConsumption")
                    div.input
                        div.label Education
                            +checkboxMixin("schoolPrograms", "school programs")
                            +checkboxMixin("events", "events")
                            +checkboxMixin("facilities", "facilities")
                            +checkboxMixin("behavioralPrograms", "behavioral programs")
                            +checkboxMixin("liveCameras", "live cameras")
                            +checkboxMixin("promotions", "promotions")
                            +checkboxMixin("publicParticipation", "public participation")
                            +checkBoxWithTextBoxMixin("other", "other", "otherEducation")
                    div.input
                        div.label Species Management
                            +checkboxMixin("endangeredSpecies", "endangered species")
                            +checkboxMixin("invasiveSpecies", "invasive species")
                            +checkboxMixin("marine", "marine")
                            +checkboxMixin("invertebrates", "invertebrates")
                            +checkboxMixin("birds", "avian/birds")
                            +checkboxMixin("landMammals", "land mammals")
                            +checkBoxWithTextBoxMixin("other", "other", "otherSpeciesManagement")
                    div.input
                        div.label Habitat Management
                            +checkboxMixin("connectivity", "connectivity")
                            +checkboxMixin("vegetation", "vegetation")
                            +checkboxMixin("restoration", "restoration")
                            +checkboxMixin("designation", "designation")
                            +checkboxMixin("management", "management")
                            +checkboxMixin("prioritization", "prioritization")
                            +checkBoxWithTextBoxMixin("other", "other", "otherHabitatManagement")
                    div.input
                        div.label Other Research
                            +checkboxMixin("bioblitz", "bioblitz")
                            +checkboxMixin("mapping", "mapping")
                            +checkboxMixin("universityPrograms", "university programs")
                            +checkboxMixin("conferences", "conferences")
                            +checkboxMixin("citizenScience", "citizen science")
                            +checkboxMixin("remoteSensing", "remote sensing")
                            +checkBoxWithTextBoxMixin("other", "other", "otherResearch")
                    div.input
                        div.label Ecosystem Services
                        +checkboxMixin("Food", "Food")
                        +checkboxMixin("rawMaterials", "Raw Materials")
                        +checkboxMixin("freshWater", "Fresh Water")
                        +checkboxMixin("medicinalResources", "Medicinal Resources")
                        +checkboxMixin("localClimate", "Local climate and air quality")
                        +checkboxMixin("carbonSequestration", "Carbon sequestration and storage")
                        +checkboxMixin("moderation", "Moderation of extreme events")
                        +checkboxMixin("wasteWaterTreatment", "Waste-water treatment")
                        +checkboxMixin("erosionPrevention", "Erosion prevention and maintenance of soil fertility")
                        +checkboxMixin("pollination", "Pollination")
                        +checkboxMixin("biologicalControl", "Biological control")
                        +checkboxMixin("habitatServices", "Habitat or supporting services")
                        +checkboxMixin("habitatSpecies", "Habitats for species")
                        +checkboxMixin("maintenance", "Maintenance of genetic diversity")
                        +checkboxMixin("recreation", "Recreation and mental and physical health")
                        +checkboxMixin("tourism", "Tourism")
                        +checkboxMixin("aesthetic", "Aesthetic appreciation and inspiration for culture, art and design")
                        +checkboxMixin("spiritual", "Spiritual experience and sense of place")
                    div.input
                        div.label Sustainable Development Goals
                        +checkboxMixin("1", "1: No Poverty")
                        +checkboxMixin("2", "2: Zero Hunger")
                        +checkboxMixin("3", "3: Good Health and Well-being")
                        +checkboxMixin("4", "4: Quality Education")
                        +checkboxMixin("5", "5: Gender Equality")
                        +checkboxMixin("6", "6: Clean Water and Sanitation")
                        +checkboxMixin("7", "7: Affordable and Clean Energy")
                        +checkboxMixin("8", "8: Decent Work and Economic Growth")
                        +checkboxMixin("9", "9: Industry, Innovation and Infrastructure")
                        +checkboxMixin("10", "10: Reduced Inequalities")
                        +checkboxMixin("11", "11: Sustainable Cities and Communities")
                        +checkboxMixin("12", "12: Responsible Consumption and Production")
                        +checkboxMixin("13", "13: Climate Action")
                        +checkboxMixin("14", "14: Life Below Water")
                        +checkboxMixin("15", "15: Life on Land")
                        +checkboxMixin("16", "16: Peace, Justice and Strong Institutions")
                        +checkboxMixin("17", "17: Partnerships for the Goals")
                    div.input
                        div.label Parties Involved
                        +checkboxMixin("localCommunity", "Local Community")
                        +checkboxMixin("ngo", "NGO")
                        +checkboxMixin("business", "Business")
                        +checkboxMixin("academia", "Academia")
                        +checkboxMixin("localGov", "Local Government")
                        span.label Other
                        input(type="text", name="otherPartiesInvolved")
                div.actions
                    input(type="submit", value="submit")