doctype html
include mixins
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        script.
            function goToDashboard() {
                console.log("clicked");
            }
            var lastId;
            function onHover(id) {
                if(lastId) {
                    document.getElementById(lastId).style.backgroundColor = "transparent";
                }
                document.getElementById(id).style.backgroundColor = "white";
                lastId = id;
            }

body
    +header(true)

    div(style="max-width:1000px; margin:auto; margin-top:100px; margin-bottom:50px; background-color:#fff1b6; display:flex; flex-direction:column; align-items:center;")
        div(style="font-size:20px; padding:10px; font-weight:bold; color:#E3965C; display:none;") This page is under construction; here is a preview of what we're building.
    div(style="max-width:800px; margin:auto;")
        img(src="/images/myHubPreview.png" style="max-width:800px;")

    div(style="max-width:800px; margin:auto; background:url('/images/blue-background.png'); display:flex; flex-direction:column; justify-content:center;")
        div.titleText(style="align-self:center; padding-top:23px;") MYHUB DASHBOARD
        div.dividingLine
        div.subTitleText Welcome to the myHub dashboard where you can initiate and review biodiversity indices by location.

        div(style="background:white; margin:20px; padding:10px 10px 15px 10px; border-radius:0px 0px 20px 20px;")
            div(style="background:grey; color:white; font-size:10px; padding:5px; margin: -10px -10px 0px -10px;") Progress Snapshot
            div(style="display:flex;")
                div(style="flex-basis:0; flex-grow:1; border-right:solid grey; margin-top:15px; margin-left:5px;")
                    div(style="display:flex; flex-direction:column;")
                        div(style="display:flex; width:100%; justify-content:space-between;")
                            div(style="font-weight:1000; font-size:22px; margin-top:-8px;") Vancouver
                            div(style="align-self:flex-start; font-size:10px; color:#326f90; margin-right:2px; text-decoration:underline; cursor:pointer;") Change location-->
                        div(style="font-size:12px; margin-bottom:5px;") CANADA
                        div(style="font-size:10px; margin-bottom:5px;") Please select the program you would like to work with:

                    div(style="display:flex; margin:auto;")
                        div(style="display:flex; margin:auto; background-color:#f2f2f2f2; padding:5px;")
                             for program in basicProgramData
                                 if program.iconFileName
                                     div(id="#{program.id}" style="display:flex; flex-direction:column; cursor:pointer; margin:5px; padding:10px; align-items:center; justify-content:space-between;" onclick="window.location='/programs/?id=#{program.id}'" onmouseover="onHover(#{program.id});")
                                        div(style="font-weight:700; margin-bottom:10px; text-align:center; font-size:15px; color:#808080") BEGIN<br>NEW
                                        div(style="height:90px;")
                                            image(src="/images/#{program.iconFileName}" style="max-width:150px; max-height:90px; height:auto; width:auto;")
                                        div(style="font-weight:700; margin:10px 0px 10px 0px; text-align:center; max-width:150px; height:32px; vertical-align:middle;") #{program.programName}
                                 else
                                     div(style="display:flex; flex-direction:column;")
                                        div #{program.programName}
                div(style="flex-basis:0; flex-grow:1;")
                        div(style="display:flex; margin:auto; height:100%;")
                            div(style="margin:auto;") data about this program

    div(style="display:none;")
        div(style="padding:40px;")
            div(style="width:100%; height: 200px; border:solid;") Program Snapshot
                div(onclick="window.location='/changeLocation'" class="button") change location
                div(onclick="window.location='/createCustomProgram'" class="button") create custom Program
                div(onclick="window.location='/dataEntry/?id=-1'") Begin New
            div(style="display:flex; width:100%;")
                div(style="border:solid; flex-grow:1;") myCBI Account
                div(style="border:solid; flex-grow:3;") Forum
                div(style="border:solid; flex-grow:1;") Environmental Services
                //div(style="border:solid; border-width:1px; border-color:#ccc; padding:10px; cursor:pointer;") Account Summary
                //div(style="border:solid; border-width:1px; border-color:#ccc; padding:10px;") Followed Questions
                //div(style="border:solid; border-width:1px; border-color:#ccc; padding:10px;") FAQs
                //div(style="border:solid; border-width:1px; border-color:#ccc; padding:10px;") Popular Forum Topics
                //div(style="border:solid; border-width:1px; border-color:#ccc; padding:10px;") Snapshot
                //a(style="padding:10px;" href="http://default-environment.5bddwj795p.ca-central-1.elasticbeanstalk.com/map") Map

    +footer()

    //select * from userData where site matches
        //select site from sitesByUser where user = loggedInUser
            //result = myUserData;

    //for program in myUserData.programs
        //select * from programs where id = myUserData.programs
            //result = myPrograms;
        //select * from categories where program = myUserData.programs;
            //result = myCategories;
        //for category in myCategories
            //select * from indicators where id = category.id;
                //result = myIndicators;

    //programs = {};
    //categories = {};

    //for program in myPrograms
        //program = {name:myProgram.name, id:myProgram.id, categories: {}, ...};
        //programs[myProgramId] = program;
    //for category in myCategories
        //programs[category.program].categories[category.id] = {id:category.id, indicators: {}, ...};
        //categories[category.id].program = category.program;
    //for indicator in myIndicators
        //programs[categories[indicator.category.id]].categories[indicator.category.id].indicators[indicator.id] = {name:indicator.name, id:indicator.id, ...};
    //for indicatorData in myUserData
        programs[indicatorData.program.id] = indicatorData;