doctype html
html
    head
        title Map
        script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEKjvE48-VV37P2pGBWFphvlrx8BXGDCs&callback=initMap")
        link(rel='stylesheet', href='/stylesheets/style.css')

mixin filterMixin(filterBy, attributeList)
    select(style="flex-grow:1; margin: 5px;" onchange="filter(this.value, #{filterBy})").border
        option(value="none").option
        each attributeItem in attributeList
            option(value=attributeItem).option #{attributeItem}

//mixin filterRangeMixin(filterBy, low, high)
//    select(style="flex-grow:1; margin: 5px;" onchange="filterRange(this.value, #{filterBy})").border
//        option(value="none").option
//        each attributeItem in attributeList
//            option(value=[low, high]).option #{low} < #{high}

mixin checkboxMixin(value, label)
    div
        input(type="checkbox", name="#{value}").checkbox
        span.label #{label}

mixin checkBoxWithTextBoxMixin(value, label, textBoxValue)
    div.inline
        input(type="checkbox", name="#{value}").checkbox
        span.label #{label}
        input(type="text", name="#{value}", style="margin:5px; width:50%;").inline

mixin textBoxMixin(value, label)
    div(style="display:flex; width:100%;").fullLine
        span.label #{label}
        input(type="text", name="#{value}", style="flex-grow:1; margin-left:5px;")

body

    div(style="border-bottom:solid; display:flex; justify-content:space-between; margin-bottom:20px;")
                img(src="/images/CBI Coalition logo.png" style="height:100px; margin-bottom:10px;")
                div
                    div(style="display:flex;")
                        div(style="margin:20px; cursor:pointer;") About CBI
                        div(style="margin:20px; cursor:pointer;") Resources
                        div(style="margin:20px; cursor:pointer;") About Us
                        div(style="margin:20px; cursor:pointer;") Search
                    div(style="float:right;") You are logged in as #{username}
                    div(style="clear:right; float:right; text-decoration:underline; cursor:pointer; color:#4490ba;" onclick="logOut()") Log out


    div(style="max-width:800px; margin:auto;")

        div(style="padding-bottom:20px; max-width: 600px; margin:auto;")
            div(style="text-align:center; padding-bottom:10px;") <b>Welcome to the pre-Alpha Website for CBI Coalition.</b><br> Thank you for your contribution to the site.
            div(style="text-align:center;") CBI Coalition is compiling a database of urban biodiversity programs, data, and activities around the world. Below is a map of our current data.
            div(style="text-align:center;")
                div(style="display:inline;") You may view your data or submit more data on&nbsp;
                div(style="display:inline; text-decoration:underline; cursor:pointer; color:#4490ba;" onclick="window.location='/yourUploads'") your uploads manager

        div(style="color:#4490ba; font-weight:bold; font-size:20px;") Urban biodiversity activities map

        div(id="map" style="height:400px; width:100%; max-width:800px; padding-bottom:20px;")

        div(onclick="resetFilter()").border Reset!
        div(style="display:flex; flex-wrap:wrap;").filters
            select(style="flex-grow:1; margin: 5px;" onchange="filter(this.value, 'country')").border
                option(value="none").option
                option(value="England").option England
                option(value="India").option India
            +filterMixin("'scale'", ['global/universal', 'international', 'city-state/autonomous city', 'subnational/provincial', 'district/county', 'metro region', 'municipality', 'community', 'urban reserve', 'campus', 'institution'])
            div(style="padding:5px; margin: 5px;" onclick="filterNotNull('Biophilic_cities')").border Biophilic Cities
            div(style="padding:5px; margin: 5px;" onclick="filterNotNull('IUCN_protected_area')").border IUCN Protected Area
            div(style="padding:5px; margin: 5px;" onclick="filterNotNull('MAB_urban')").border Man and the Biosphere
            div(style="padding:5px; margin: 5px;" onclick="filterNotNull('SI_status')").border Singapore Index
            div(style="padding:5px; margin: 5px;" onclick="filterNotNull('EF_year')").border Ecofootprint
            div(style="padding:5px; margin: 5px;" onclick="filterArrayNotNull('LAB_CEPA', 'LAB_URBIS', 'LAB_joined', 'LAB_wetlands')").border LAB Participation
            div(style="padding:5px; margin: 5px;" onclick="filterNotNull('Durban_commitment')").border Durban Commitment
            div(style="padding:5px; margin: 5px;" onclick="filterNotNull('European_Green_Capital_award')").border European Green Capital Award
            div(style="padding:5px; margin: 5px;" onclick="filterNotNull('European_capital_biodiversity')").border European Capital Biodiversity
            div(style="padding:5px; margin: 5px;" onclick="filterNotNull('report_title')").border Biodiversity Report
            div(style="padding:5px; margin: 5px;" onclick="filterNotNull('intplan_title')").border Biodiversity in a More General Plan


        //div.bigLabel Overall Program or Institution
        //form(name="add-estimation-search", method="post" onsubmit="submitForm()" style="display:flex; flex-direction:column; flex-grow:1; flex-shrink:1; width: 100%;" autocomplete="off")
        //    div(style="width:50%")
        //        +textBoxMixin("title", "Title")
        //        div.fullLine
        //            span.label Type
        //            select(name="type").select
        //                option(value="none").option
        //                option(value="data").option data
        //                option(value="repository").option repository
        //                option(value="environmentalNGO").option environmental NGO
        //                option(value="news").option news source/blog
        //                option(value="indexTool").option index/measurement tool
        //                option(value="plan").option plan/strategy
        //                option(value="toolkitGuide").option toolkit/guide
        //                option(value="researcherExpert").option researcher/expert
        //                option(value="researchInstitute").option research institute
        //                option(value="pubEngagementInstitute").option public engagement institute
        //                option(value="networkPartnershipProgram").option network/partnership program
        //                option(value="government").option government
        //                option(value="event").option event
        //                option(value="map").option map
        //                option(value="otherType").option other
        //        div.fullLine
        //            span.label Scale
        //            select(name="scale").select
        //                option(value="none").option
        //                option(value="institution").option institution
        //                option(value="campus").option campus
        //                option(value="reserve").option urban reserve/wildlife park
        //                option(value="neighborhood").option community/neighborhood
        //                option(value="municipality").option municipality
        //                option(value="metro region").option metro region
        //                option(value="district").option district/county
        //                option(value="subnational").option subnational/provincial
        //                option(value="city").option city-state/autonomous city
        //                option(value="national").option national
        //                option(value="international").option international
        //                option(value="global").option global
        //                option(value="N/A").option N/A
        //        +textBoxMixin("url", "Main weblink")
        //        +textBoxMixin("author", "Author/Organization")
        //        div.fullLine
        //            span.label Description
        //            textarea(name="description", cols="40", rows="5").select
        //        +textBoxMixin("location", "Location")
        //    div(style="width:50%; margin-bottom:5px; padding:5px;").border
        //        div.bigLabel Specific Program or Document 1
        //        +textBoxMixin("documentTitle1", "Title")
        //        +textBoxMixin("documentWeblink1", "Weblink")
        //        Div(style="display:flex;") How many documents need to be uploaded?
        //            +checkboxMixin("0doc1", "0")
        //            +checkboxMixin("1doc1", "1")
        //            +checkboxMixin("2doc1", "2")
        //            +checkboxMixin("3+doc1", "3+")
        //        +textBoxMixin("publicationYear", "publication year")
        //
        //        div.bigLabel Specific Program or Document 2
        //        +textBoxMixin("documentTitle2", "Title")
        //        +textBoxMixin("documentWeblink2", "Weblink")
        //        Div(style="display:flex;") How many documents need to be uploaded?
        //            +checkboxMixin("0doc2", "0")
        //            +checkboxMixin("1doc2", "1")
        //            +checkboxMixin("2doc2", "2")
        //            +checkboxMixin("3+doc2", "3+")
        //        +textBoxMixin("publicationYear", "publication year")
        //
        //        div.bigLabel Specific Program or Document 3
        //        +textBoxMixin("documentTitle3", "Title")
        //        +textBoxMixin("documentWeblink3", "Weblink")
        //        Div(style="display:flex;") How many documents need to be uploaded?
        //            +checkboxMixin("0doc3", "0")
        //            +checkboxMixin("1doc3", "1")
        //            +checkboxMixin("2doc3", "2")
        //            +checkboxMixin("3+doc3", "3+")
        //        +textBoxMixin("publicationYear", "publication year")
        //
        //    div.input.border
        //        div(style="margin:5px;").label Please select a few relevant keywords or tags below.
        //        div(style="background-color:#d8ecd4; display:grid; grid-template-columns:1fr 1fr 1fr 1fr; font-size:11px; margin:5px;").input
        //            div(style="grid-column-start:1; grid-column-end:5; display:inline; padding:5px;")
        //                div(style="display:inline;").bigLabel Ecosystems
        //                div(style="display:inline; margin-left:5px;")
        //                    input(type="checkbox", name="all").checkbox
        //                    span.label CHECK ALL
        //            +checkboxMixin("streams", "streams")
        //            +checkboxMixin("delta", "river delta")
        //            +checkboxMixin("oceans", "oceans")
        //            +checkboxMixin("lakes", "lakes")
        //            +checkboxMixin("wetlands", "wetlands")
        //            +checkboxMixin("desert", "desert")
        //            +checkboxMixin("forest", "forest")
        //            +checkboxMixin("grassland", "savannah")
        //            +checkboxMixin("steppe", "steppe/montane")
        //            +checkboxMixin("tundra", "tundra/polar")
        //            +checkboxMixin("shrubland", "shrubland")
        //            +checkboxMixin("intertidal", "intertidal/beach")
        //            +checkboxMixin("rooftop", "rooftop/vertical")
        //            +checkboxMixin("rocky", "rocky")
        //            +checkboxMixin("cave", "cave/underground")
        //            +checkboxMixin("lawns", "lawns and gardens")
        //            +checkboxMixin("cropFields", "crop fields")
        //            +checkboxMixin("microbial", "microbial")
        //            +checkBoxWithTextBoxMixin("other", "other", "otherEcosystems")
        //        div.input
        //            div.label Governance
        //                +checkboxMixin("policy", "policy")
        //                +checkboxMixin("index", "index")
        //                +checkboxMixin("regulation", "regulation")
        //                +checkboxMixin("spatialPlanning", "spatial planning")
        //                +checkboxMixin("developmentPartnerships", "development partnerships")
        //                +checkboxMixin("mainstreaming", "mainstreaming")
        //                +checkBoxWithTextBoxMixin("other", "other", "otherGovernance")
        //        div.input
        //            div.label Consumption
        //                +checkboxMixin("footprintMeasurement", "footprint measurement")
        //                +checkboxMixin("sustainablePurchasing", "sustainable purchasing")
        //                +checkboxMixin("shareholderActivism", "shareholder activism")
        //                +checkboxMixin("urbanAgriculture", "urban agriculture")
        //                +checkboxMixin("foraging", "foraging")
        //                +checkBoxWithTextBoxMixin("other", "other", "otherConsumption")
        //        div.input
        //            div.label Education
        //                +checkboxMixin("schoolPrograms", "school programs")
        //                +checkboxMixin("events", "events")
        //                +checkboxMixin("facilities", "facilities")
        //                +checkboxMixin("behavioralPrograms", "behavioral programs")
        //                +checkboxMixin("liveCameras", "live cameras")
        //                +checkboxMixin("promotions", "promotions")
        //                +checkboxMixin("publicParticipation", "public participation")
        //                +checkBoxWithTextBoxMixin("other", "other", "otherEducation")
        //        div.input
        //            div.label Species Management
        //                +checkboxMixin("endangeredSpecies", "endangered species")
        //                +checkboxMixin("invasiveSpecies", "invasive species")
        //                +checkboxMixin("marine", "marine")
        //                +checkboxMixin("invertebrates", "invertebrates")
        //                +checkboxMixin("birds", "avian/birds")
        //                +checkboxMixin("landMammals", "land mammals")
        //                +checkBoxWithTextBoxMixin("other", "other", "otherSpeciesManagement")
        //        div.input
        //            div.label Habitat Management
        //                +checkboxMixin("connectivity", "connectivity")
        //                +checkboxMixin("vegetation", "vegetation")
        //                +checkboxMixin("restoration", "restoration")
        //                +checkboxMixin("designation", "designation")
        //                +checkboxMixin("management", "management")
        //                +checkboxMixin("prioritization", "prioritization")
        //                +checkBoxWithTextBoxMixin("other", "other", "otherHabitatManagement")
        //        div.input
        //            div.label Other Research
        //                +checkboxMixin("bioblitz", "bioblitz")
        //                +checkboxMixin("mapping", "mapping")
        //                +checkboxMixin("universityPrograms", "university programs")
        //                +checkboxMixin("conferences", "conferences")
        //                +checkboxMixin("citizenScience", "citizen science")
        //                +checkboxMixin("remoteSensing", "remote sensing")
        //                +checkBoxWithTextBoxMixin("other", "other", "otherResearch")
        //        div.input
        //            div.label Ecosystem Services
        //            +checkboxMixin("Food", "Food")
        //            +checkboxMixin("rawMaterials", "Raw Materials")
        //            +checkboxMixin("freshWater", "Fresh Water")
        //            +checkboxMixin("medicinalResources", "Medicinal Resources")
        //            +checkboxMixin("localClimate", "Local climate and air quality")
        //            +checkboxMixin("carbonSequestration", "Carbon sequestration and storage")
        //            +checkboxMixin("moderation", "Moderation of extreme events")
        //            +checkboxMixin("wasteWaterTreatment", "Waste-water treatment")
        //            +checkboxMixin("erosionPrevention", "Erosion prevention and maintenance of soil fertility")
        //            +checkboxMixin("pollination", "Pollination")
        //            +checkboxMixin("biologicalControl", "Biological control")
        //            +checkboxMixin("habitatServices", "Habitat or supporting services")
        //            +checkboxMixin("habitatSpecies", "Habitats for species")
        //            +checkboxMixin("maintenance", "Maintenance of genetic diversity")
        //            +checkboxMixin("recreation", "Recreation and mental and physical health")
        //            +checkboxMixin("tourism", "Tourism")
        //            +checkboxMixin("aesthetic", "Aesthetic appreciation and inspiration for culture, art and design")
        //            +checkboxMixin("spiritual", "Spiritual experience and sense of place")
        //        div.input
        //            div.label Sustainable Development Goals
        //            +checkboxMixin("1", "1: No Poverty")
        //            +checkboxMixin("2", "2: Zero Hunger")
        //            +checkboxMixin("3", "3: Good Health and Well-being")
        //            +checkboxMixin("4", "4: Quality Education")
        //            +checkboxMixin("5", "5: Gender Equality")
        //            +checkboxMixin("6", "6: Clean Water and Sanitation")
        //            +checkboxMixin("7", "7: Affordable and Clean Energy")
        //            +checkboxMixin("8", "8: Decent Work and Economic Growth")
        //            +checkboxMixin("9", "9: Industry, Innovation and Infrastructure")
        //            +checkboxMixin("10", "10: Reduced Inequalities")
        //            +checkboxMixin("11", "11: Sustainable Cities and Communities")
        //            +checkboxMixin("12", "12: Responsible Consumption and Production")
        //            +checkboxMixin("13", "13: Climate Action")
        //            +checkboxMixin("14", "14: Life Below Water")
        //            +checkboxMixin("15", "15: Life on Land")
        //            +checkboxMixin("16", "16: Peace, Justice and Strong Institutions")
        //            +checkboxMixin("17", "17: Partnerships for the Goals")
        //        div.input
        //            div.label Parties Involved
        //            +checkboxMixin("localCommunity", "Local Community")
        //            +checkboxMixin("ngo", "NGO")
        //            +checkboxMixin("business", "Business")
        //            +checkboxMixin("academia", "Academia")
        //            +checkboxMixin("localGov", "Local Government")
        //            span.label Other
        //            input(type="text", name="otherPartiesInvolved")
        //    div.actions
        //        input(type="submit", value="submit")
script.
    function logOut(){
        document.cookie = 'session' + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        console.log("logout");
        location.reload(true);
    }
    var markers = [];
    var yellowImage;
    var greenImage;
    var orangeImage;
    function filter(value, filterBy){
        markers.forEach(function (marker) {
            marker.setVisible(marker.element[filterBy] == value);
        });
    };
    function filterNotNull(filterBy) {
        markers.forEach(function (marker) {
            if(marker.element[filterBy] != null){
                marker.setIcon(orangeImage);
                marker.setZIndex(2);
            } else {
                marker.setIcon(greenImage);
                marker.setZIndex(1);
            }
        });
    };
    function filterArrayNotNull(...filterBy) {
        markers.forEach(function (marker) {
            let toFilter = false;
            for (i = 0; i < filterBy.length; i++) {
                if (marker.element[filterBy[i]] != null) {
                    toFilter = true;
                }
            }
            if(toFilter){
                marker.setIcon(orangeImage);
                marker.setZIndex(2);
            } else {
                marker.setIcon(greenImage);
                marker.setZIndex(1);
            }
        });
    };

    function resetFilter(){
        markers.forEach(function (marker) {
            marker.setVisible(true);
            marker.setIcon(yellowImage);
        });
    };
    function initMap() {
        yellowImage = {
            url: '/images/marker-yellow-det.png',
            size: new google.maps.Size(14, 46),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(12, 46)
        };
        greenImage = {
            url: '/images/marker-green-det.png',
            size: new google.maps.Size(14, 46),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(12, 46)
        };
        orangeImage = {
            url: '/images/marker-orange-det.png',
            size: new google.maps.Size(14, 46),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(12, 46)
        };
        var mapData =!{mapData};
        console.log(mapData);
        center = {lat: 20, lng: 15};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 2,
            center: center,
            styles: [{"elementType": "geometry","stylers": [{"color": "#1d2c4d"}]}, {"elementType": "labels.text.fill","stylers": [{"color": "#8ec3b9"}]},{"elementType": "labels.text.stroke","stylers": [ { "color": "#1a3646" } ]},{"featureType": "administrative","stylers": [{"visibility": "simplified"}]},{"featureType": "administrative","elementType": "geometry","stylers": [{"color": "#6ab285"}]},{"featureType": "administrative", "elementType": "geometry.stroke", "stylers": [ { "color": "#d7e9cd" }, { "visibility": "on" } ] }, { "featureType": "administrative", "elementType": "labels.text", "stylers": [ { "color": "#d6e9cd" } ] }, { "featureType": "landscape", "stylers": [ { "color": "#3d7761" } ] }, { "featureType": "landscape.man_made", "elementType": "geometry.stroke", "stylers": [ { "color": "#334e87" } ] }, { "featureType": "landscape.natural", "stylers": [ { "color": "#298f6a" } ] }, { "featureType": "poi", "stylers": [ { "visibility": "off" } ] }, { "featureType": "poi", "elementType": "geometry", "stylers": [ { "color": "#283d6a" } ] }, { "featureType": "poi", "elementType": "labels.text.fill", "stylers": [ { "color": "#6f9ba5" } ] }, { "featureType": "poi", "elementType": "labels.text.stroke", "stylers": [ { "color": "#1d2c4d" } ] }, { "featureType": "poi.park", "stylers": [ { "color": "#6ab285" }, { "visibility": "simplified" } ] }, { "featureType": "poi.park", "elementType": "labels", "stylers": [ { "visibility": "off" } ] }, { "featureType": "poi.park", "elementType": "labels.icon", "stylers": [ { "visibility": "off" } ] }, { "featureType": "road", "elementType": "geometry", "stylers": [ { "color": "#2d1b5a" } ] }, { "featureType": "road", "elementType": "labels", "stylers": [ { "visibility": "off" } ] }, { "featureType": "road", "elementType": "labels.text.fill", "stylers": [ { "color": "#98a5be" } ] }, { "featureType": "road", "elementType": "labels.text.stroke", "stylers": [ { "color": "#1d2c4d" } ] }, { "featureType": "road.arterial", "stylers": [ { "visibility": "simplified" } ] }, { "featureType": "road.arterial", "elementType": "geometry", "stylers": [ { "visibility": "simplified" } ] }, { "featureType": "road.arterial", "elementType": "labels", "stylers": [ { "visibility": "off" } ] }, { "featureType": "road.highway", "stylers": [ { "visibility": "simplified" } ] }, { "featureType": "road.highway", "elementType": "labels", "stylers": [ { "visibility": "off" } ] }, { "featureType": "road.highway", "elementType": "labels.text.fill", "stylers": [ { "color": "#b0d5ce" } ] }, { "featureType": "road.highway", "elementType": "labels.text.stroke", "stylers": [ { "color": "#023e58" } ] }, { "featureType": "transit", "stylers": [ { "color": "#00907d" } ] }, { "featureType": "transit", "elementType": "labels", "stylers": [ { "visibility": "off" } ] }, { "featureType": "transit", "elementType": "labels.text.fill", "stylers": [ { "color": "#98a5be" } ] }, { "featureType": "transit", "elementType": "labels.text.stroke", "stylers": [ { "color": "#1d2c4d" } ] }, { "featureType": "water", "stylers": [ { "color": "#193c59" } ] }, { "featureType": "water", "elementType": "labels.text.fill", "stylers": [ { "color": "#4e6d70" } ] } ]});
        mapData.forEach(function (element) {
            if(element.lat){
                var contentString =
                    '<div id="content">' +
                        '<div id="siteNotice">' +
                        '</div>' +
                        '<div style="font-weight:bold; font-size:20px;">' + element.title + '</div>' +
                        '<div id="bodyContent">' +
                        (element.scale  !== null ?  '<div">' + element.scale + '</div>' : "") +

                        (element.biodiversity_url  !== null ?  '<div><a href="' + element.biodiversity_url + 'rel="noopener noreferrer" target="_blank"">Main link</a></div>' : "") +

                        (element.intplan_title  !== null ?  '<p>' + (element.intplan_year !== null ? element.intplan_year : "") + ' ' + element.intplan_title + " " : "") +
                        (element.intplan_url  !== null ?  '<a href="' + element.intplan_url + 'rel="noopener noreferrer" target="_blank"">link</a></p>' : "</p>") +

                        (element.plan1_title !== null ? '<p>' + (element.plan1_year !== null ? element.plan1_year : "") + ' ' + element.plan1_title + " " : "") +
                        (element.plan1_url !== null ? '<a href="' + element.plan1_url + 'rel="noopener noreferrer" target="_blank"">link</a></p>' : "</p>") +

                        (element.plan2_title !== null ? '<p>' + (element.plan2_year !== null ? element.plan2_year : "") + ' ' + element.plan2_title + " " : "") +
                        (element.plan2_url !== null ? '<a href="' + element.plan2_url + 'rel="noopener noreferrer" target="_blank"">link</a></p>' : "</p>") +

                        (element.report_title !== null ? '<p>' + (element.report_year !== null ? element.report_year : "") + ' ' + element.report_title + " " : "") +
                        (element.report_url !== null ? '<a href="' + element.report_url + 'rel="noopener noreferrer" target="_blank"">link</a></p>' : "</p>") +

                        (element.extra1_title !== null ? '<p>' + element.extra1_title + ' ' : "") +
                        (element.extra1_url !== null ? '<a href="' + element.extra1_url + 'rel="noopener noreferrer" target="_blank"">link</a></p>' : "</p>") +

                        (element.extra2_title !== null ? '<p>' + element.extra2_title + ' ': "") +
                        (element.extra2_url !== null && typeof extra2_url !== "undefined" ? '<a href="' + element.extra2_url + 'rel="noopener noreferrer" target="_blank"">link</a></p>' : "</p>") +
                        
                        (element.EF_data_ghapercap !== null ? '<p>' + (element.EF_year !== null ? element.EF_year : "") + ' Ecological Footprint ' + element.EF_data_ghapercap + "gha/cap " : "") +
                        (element.EF_link !== null ? '<a href="' + element.EF_link + 'rel="noopener noreferrer" target="_blank"">source</a></p>' : "</p>") +
                        
                        
                        '</div>' +
                    '</div>';

                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

                var position = {lat:element.lat, lng:element.lng};
                var marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    animation: google.maps.Animation.DROP,
                    title: element.name,
                    icon: yellowImage, //'/images/marker-yellow-det.png',
                    zIndex: 1
                });
                marker.element = element;

                marker.addListener('click', function () {
                    infowindow.open(map, marker);
                });
                markers.push(marker);
            }
        });
    }
    function submitForm(){
        console.log("form submitted!");
    }
    //    function filterRange(range, filterBy) {
    //        markers.forEach(function (marker) {
    //            marker.setVisible(marker.element[filterBy] > range.low && marker.element[filterBy] < range.high);
    //        });
    //    };