mixin mapHead
  head
      title UBHub
      script(src="../javascripts/mapscript.js")
      script.
        function initMapOnPage() {
          var mapData = !{mapData};
          initMap(mapData);
          tablePage(0);
        }
      script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEKjvE48-VV37P2pGBWFphvlrx8BXGDCs&callback=initMapOnPage")
      link(rel='stylesheet', href='/stylesheets/style.css')

mixin filterMixin(title, filterBy, attributeList, filterType)
  div.formItem
    label #{title}
    div.selectBox.filterBox
      select(onchange="addFilter('#{filterBy}', this.value, '" + filterType + "')")
          option(value="none").option
          each attributeItem in attributeList
              option(value=attributeItem).option #{attributeItem}


//mixin filterRangeMixin(filterBy, low, high)
//    select(style="flex-grow:1; margin: 5px;" onchange="filterRange(this.value, #{filterBy})").border
//        option(value="none").option
//        each attributeItem in attributeList
//            option(value=[low, high]).option #{low} < #{high}

mixin checkboxMixin(value, label)
    div
        input(type="checkbox", name="#{value}").checkbox
        span.label #{label}

mixin checkBoxWithTextBoxMixin(value, label, textBoxValue)
    div.inline
        input(type="checkbox", name="#{value}").checkbox
        span.label #{label}
        input(type="text", name="#{value}", style="margin:5px; width:50%;").inline

mixin textBoxMixin(value, label)
    div(style="display:flex; width:100%;").fullLine
        span.label #{label}
        input(type="text", name="#{value}", style="flex-grow:1; margin-left:5px;")


mixin mapInfoTab(label, contentId, color, reset)
  div.mapInfoTab(style="background-color: #{color}" onclick="togglePanelOpenOrClosed(this, '#{contentId}')")
      div #{label}
      div.reset
          if reset
            div.resetButton(onclick="event.stopPropagation(); resetFilter();") reset
          img(class="tabArrow" src="/images/arrow-right3.svg" style="")


mixin mapInfoFilters(mapFilterParameters)
  div.mapInfoContent(class="hide" id="filterSettings" style="background-color: #e9f6f9")
    each filterParameter in mapFilterParameters
      +filterMixin(filterParameter.name, filterParameter.id, filterParameter.options, filterParameter.type)

mixin mapInfoHighlights
  div.mapInfoContent(class="hide" id="highlightSettings" style="background-color: #fffceb")

      div.quarters
        div
          label Activities
            div.activityButton(onclick="selectHighlight('biodiversity_url', this)")
              p Biodiversity Website
            div.activityButton(onclick="selectHighlight('intplan_title', this)")
              p Biodiversity in a Comprehensive Plan
            div.activityButton(onclick="selectHighlight('plan1_title', this)")
              p Biodiversity Plan
            div.activityButton(onclick="selectHighlight('report_title', this)")
              p Biodiversity Report
            div.activityButton(onclick="selectHighlight('map', this)")
              p Biodiversity Map
            div.activityButton(onclick="selectHighlight('data_portal', this)")
              p Biodiversity Data
        div
          label Programs
          div.activityButton(onclick="selectHighlight('LAB_joined', this)")
            img(src="/images/LabProgrammeLogo.jpg")
          div.activityButton(onclick="selectHighlight('Biophilic_cities', this)")
            img(src="/images/logo_biophilicCities.png")
          div.activityButton(onclick="selectHighlight('interact-bio', this)")
            img(src="/images/logo_interact-Bio.png")
          div.activityButton(onclick="selectHighlight('wild_cities', this)")
            img(src="/images/logo_wildCities.png")
          div.activityButton(onclick="selectHighlight('urban_bird_treaty', this)")
            img(src="/images/logo_urbanBirdTreaty.png")
          div.activityButton(onclick="selectHighlight('mayors-monarch', this)")
            p Mayor's Monarch Pledge
          div.activityButton(onclick="selectHighlight('urban_wildlife_partnership_city', this)")
            img(src="/images/logo_urbanWildlifePartnership.png")

        div
          label Designations & Awards
          div.activityButton(onclick="selectHighlight('MAB_urban', this)")
            img(src="/images/logo_manAndTheBiosphereProgramme.png")
          div.activityButton(onclick="selectHighlight('IUCN_protected_area', this)")
            img(src="/images/logo_iucn.png")
          div.activityButton(onclick="selectHighlight('European_Green_Capital_award', this)")
            img(src="/images/logo_europeanGreenCapital.png")
          div.activityButton(onclick="selectHighlight('European_capital_biodiversity', this)")
            img(src="/images/logo_europeanCapitalsOfBiodiversity.png")
          div.activityButton(onclick="selectHighlight('capitale_francaise', this)")
            img(src="/images/logo_capitaleFrancaiseBiodiversite.png")

        div
          label Indices
          div.activityButton(onclick="selectHighlight('EF_data_ghapercap', this)")
            p Ecological Footprint
          div.activityButton(onclick="selectHighlight('SI_status', this)")
            p Singapore Index






mixin mapInfoSummary(summary)
  div.mapInfoContent(class="hide" id="mapInfoSummary" style="background-color: #f2f2f2")
    div.quarters
      div.summaryStat
        h3 #{summary.total}
        p Total
      div.summaryStat
        h3 #{summary.municipalities}
        p Municipalities
      div.summaryStat
        h3 #{summary.districts}
        p Districts/Counties
      div.summaryStat
        h3 #{summary.campuses}
        p Campuses

mixin mapInfoResults(data)
  div.mapInfoContent(class="hide" id="mapInfoResults" style="background-color: #e1efd8")
    +mapValuesTable(data)
    +mapValuesControl

mixin mapValuesTable(data)
  table.mapValuesTable
    thead
      tr
        th#mvTitle Title
        th#mvCountry Country
        th#mvScale Scale
        th#mvPlan Plan
    tbody#mapTableValues(page="1")


mixin mapValuesControl
  div.mapValuesControl
    span#mapControlPrevious.disabled(onclick="tablePrevPage()") < PREVIOUS
    span(onclick="tableNextPage()") NEXT >
