mixin mapHead
  head
      title UBHub
      script(src="../javascripts/mapscript.js")
      script.
        function initMapOnPage() {
          var mapData = !{mapData};
          initMap(mapData);
          tablePage(0);
        }
        function openTab(event, link) {
            event.stopPropagation();
            console.log(link);
        }
      script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEKjvE48-VV37P2pGBWFphvlrx8BXGDCs")
      script.
          window.onload = function (ev) { initMapOnPage(); };
      link(rel='stylesheet', href='/stylesheets/style.css')

mixin filterMixin(title, filterBy, attributeList, filterType)
  div.formItem
    label #{title}
    div.selectBox.filterBox
      select(onchange="addFilter('#{filterBy}', this.value, '" + filterType + "')")
          option(value="none").option
          each attributeItem in attributeList
              option(value=attributeItem).option #{attributeItem}

mixin checkboxMixin(value, label)
    div
        input(type="checkbox", name="#{value}").checkbox
        span.label #{label}

mixin checkBoxWithTextBoxMixin(value, label, textBoxValue)
    div.inline
        input(type="checkbox", name="#{value}").checkbox
        span.label #{label}
        input(type="text", name="#{value}", style="margin:5px; width:50%;").inline

mixin textBoxMixin(value, label)
    div(style="display:flex; width:100%;").fullLine
        span.label #{label}
        input(type="text", name="#{value}", style="flex-grow:1; margin-left:5px;")


mixin mapInfoTab(label, contentId, color, reset)
  div.mapInfoTab(style="background-color: #{color}" onclick="togglePanelOpenOrClosed(this, '#{contentId}')")
      div #{label}
      div.reset
          if reset
            div.resetButton(onclick="event.stopPropagation(); resetFilter();") reset
          img(class="tabArrow" src="/images/arrow-right3.svg" style="")


mixin mapInfoFilters(mapFilterParameters)
  div.mapInfoContent(class="hide" id="filterSettings" style="background-color: #e9f6f9")
    each filterParameter in mapFilterParameters
      +filterMixin(filterParameter.name, filterParameter.id, filterParameter.options, filterParameter.type)

mixin mapInfoHighlights(mapButtons)
  div.mapInfoContent(class="hide" id="highlightSettings" style="background-color: #fffceb")
    div.quarters
      each cat in mapButtons
        div
          label #{cat.categoryName}
          each btn in cat.buttons
            div.activityButton(onclick="selectHighlight('#{btn.part_name}', '#{btn.marker_colors_by}', '#{btn.marker_colors}', this)")
              p #{btn.button_text}
              if (btn.image != null)
                img(src="#{btn.image}")
              if(btn.button_link != null)
                img(src="/images/infoIcon.svg" style="height:20px; width:20px; position:absolute; right:3px; bottom:3px;" onMouseOver="this.src='/images/infoIconHover.svg'" onMouseOut="this.src='/images/infoIcon.svg'" onClick="openTab(arguments[0], #{btn.button_link});")







mixin mapInfoSummary(summary)
  div.mapInfoContent(class="hide" id="mapInfoSummary" style="background-color: #f2f2f2")
    div.quarters
      div.summaryStat
        h3#summaryTotal #{summary.total}
        p Total
      div.summaryStat
        h3#summaryMunicipalities #{summary.municipalities}
        p Municipalities
      div.summaryStat
        h3#summaryDistricts #{summary.districts}
        p Districts/Counties
      div.summaryStat
        h3#summaryCampuses #{summary.campuses}
        p Campuses

mixin mapInfoResults(data)
  div.mapInfoContent(class="hide" id="mapInfoResults" style="background-color: #e1efd8")
    +mapValuesTable(data)
    +mapValuesControl

mixin mapValuesTable(data)
  table.mapValuesTable
    thead
      tr
        th#mvTitle Title
        th#mvCountry Country
        th#mvScale Scale
        th#mvPrograms Biodiversity Programs & Activities
    tbody#mapTableValues(page="1")


mixin mapValuesControl
  div.mapValuesControl
    span#mapControlPrevious.disabled(onclick="tablePrevPage()") < PREVIOUS
    span(onclick="tableNextPage()") NEXT >
