mixin mapHead
  head
      title UBHub
      script(src="../javascripts/mapscript.js")
      script.
        function initMapOnPage() {
          var mapData = !{mapData};
          initMap(mapData);
        }
      script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEKjvE48-VV37P2pGBWFphvlrx8BXGDCs&callback=initMapOnPage")
      link(rel='stylesheet', href='/stylesheets/style.css')

mixin filterMixin(title, filterBy, attributeList, filterType)
  div.formItem
    label #{title}
    div.selectBox
      select(onchange="filter(this.value, '" + filterBy + "', '" + filterType + "')")
          option(value="none").option
          each attributeItem in attributeList
              option(value=attributeItem).option #{attributeItem}


//mixin filterRangeMixin(filterBy, low, high)
//    select(style="flex-grow:1; margin: 5px;" onchange="filterRange(this.value, #{filterBy})").border
//        option(value="none").option
//        each attributeItem in attributeList
//            option(value=[low, high]).option #{low} < #{high}

mixin checkboxMixin(value, label)
    div
        input(type="checkbox", name="#{value}").checkbox
        span.label #{label}

mixin checkBoxWithTextBoxMixin(value, label, textBoxValue)
    div.inline
        input(type="checkbox", name="#{value}").checkbox
        span.label #{label}
        input(type="text", name="#{value}", style="margin:5px; width:50%;").inline

mixin textBoxMixin(value, label)
    div(style="display:flex; width:100%;").fullLine
        span.label #{label}
        input(type="text", name="#{value}", style="flex-grow:1; margin-left:5px;")


mixin mapInfoTab(label, contentId, color, reset)
  div.mapInfoTab(style="background-color: #{color}")
      div(onclick="togglePanelOpen('#{contentId}')") Show/hide #{label}
      div.reset
          if reset
            div.resetButton(onclick="resetFilter()") RESET FILTERS
          img(src="/images/arrow-right3.svg" style="transform:rotate(180deg); transform-origin:center; height:13px;")


mixin mapInfoFilters(mapFilterParameters)
  div.mapInfoContent(class="hide" id="filterSettings" style="background-color: #AAffff")
    each filterParameter in mapFilterParameters
      +filterMixin(filterParameter.name, filterParameter.id, filterParameter.options, filterParameter.type)

mixin mapInfoHighlights
  div.mapInfoContent(class="hide" id="highlightSettings" tyle="background-color: #fff2cc")
    div
      label Activities
      div.quarters
        div.activityButton(onclick="selectHighlight('biodiversity_url', this)") Biodiversity Website
        div.activityButton Biodiversity Mainstreaming
        div.activityButton Biodiversity Plan
        div.activityButton Biodiversity Report
      div.quarters
        div
          label Programs
          div.activityButton(onclick="selectHighlight('LAB_joined', this)")
            img(src="/images/LabProgrammeLogo.jpg")
          div.activityButton Local Action for Biodiversity
        div
          label Indices
          div.activityButton Local Action for Biodiversity
          div.activityButton Local Action for Biodiversity
        div
          label Designations
          div.activityButton Local Action for Biodiversity
          div.activityButton Local Action for Biodiversity
        div
          label Awards
          div.activityButton Local Action for Biodiversity
          div.activityButton Local Action for Biodiversity





mixin mapInfoSummary(summary)
  div.mapInfoContent(class="hide" id="mapInfoSummary" style="background-color: #e7e6e6")
    div.quarters
      div.summaryStat
        h3 #{summary.total}
        p Total
      div.summaryStat
        h3 #{summary.municipalities}
        p Municipalities
      div.summaryStat
        h3 #{summary.districts}
        p Districts/Counties
      div.summaryStat
        h3 #{summary.campuses}
        p Campuses

mixin mapInfoResults(data)
  div.mapInfoContent(class="hide" id="mapInfoResults" style="background-color: #e1efd8")
    +mapValuesTable(data)

mixin mapValuesTable(data)
  table.mapValuesTable
    thead
      tr
        th Address
        th Year
        th Programs
        th Associations
    tbody
      Set some filters to explore data below.
