

mixin textInShape(textValue, colorValue, percentFill, radius)
    -percentNotFilled = 100 - percentFill;
    -percentNotFilledPlus = percentNotFilled + 5;
    div(style="height:100px; width:100px;")
        div(style="height:100px; width:100px; position:absolute; border:solid; background:#{colorValue}; border-radius:#{radius};")
        div(style="position:absolute; height:110px; width: #{percentNotFilledPlus}px; left: #{percentNotFilled}px; background:white;")
        div(style="height:100px; width:100px; position:absolute; border:solid; border-radius:#{radius};")
        div(style="height:100px; width:100px; position:absolute; align-items:center; display:flex; justify-content:center;") #{textValue}

mixin indicator(indicatorName, indicatorDescription, descriptionOfCalculation, id)
    div(style="display:flex;" id=id draggable="true" ondragstart="drag(event)")
        div(class="customProgramItem")
            div #{indicatorName}
            div #{indicatorDescription}
            div #{descriptionOfCalculation}

mixin site(siteName, siteDescription)
    button(class="flex spaceAbove" onclick="selectSite(#{siteName})" style="cursor:pointer;")
        div #{siteName}
        div(style="padding-left:10px;")
        div #{siteDescription}

mixin header(displayLoginInfo)
    header
                div(class="nav-container")
                    div(class="logo-container")
                      img(src="/images/UBHub_logo_mainwebsite.svg")
                    div
                        div(class="login-container")
                            button(class="menu-toggle")
                            if(displayLoginInfo)
                                if(username)
                                    div(style="padding:0px 100px 0px 50px; display:flex; justify-content:space-around; flex-grow:1;")
                                        div(style="padding:10px; cursor:pointer; color:#316b59; font-weight:700;" onclick="window.location='/dashboard'") myHub
                                        div(style="padding:10px; cursor:pointer; color:#316b59; font-weight:700;" onclick="window.location='/indicators'") myIndicators
                                        div(style="padding:10px; cursor:pointer; color:#316b59; font-weight:700;" onclick="window.location='/forum'") Forum
                                        div(style="padding:10px; cursor:pointer; color:#316b59; font-weight:700;" onclick="window.location='/account'") Account
                                else
                                    div(style="padding:0px 100px 0px 50px; display:flex; justify-content:flex-end; flex-grow:1;")
                                        //div(style="padding:10px; cursor:pointer; color:#316b59; font-weight:700;" onclick="window.location='/createUser'") Sign up
                                div(style="padding:4px 5px 2px 2px;")
                                  if(username)
                                    div(style="background-color:#d3e9d5; color:#316b59; padding:5px 30px 5px 30px; border-radius:20px; font-weight:700;") #{username}
                                  else
                                    div(style="background-color:#d3e9d5; color:#316b59; padding:5px 30px 5px 30px; border-radius:20px; font-weight:700; cursor:pointer;" onclick="window.location='/login'") Log in
                            else
                                div(style="color:#fab279; font-weight:700;") Signup / Log in
                    nav(role='navigation' aria-label="main navigation") 
                        ul()
                            li(onclick="window.location='/home'") Home
                            li(onclick="window.location='/news'") News
                            li(onclick="window.location='/map'") Map
                            li(onclick="window.location='/resources'") Guide
                            li(onclick="window.location='/aboutUs'") About Us
                            li(onclick="window.location='/getInvolved'") Get Involved
                            if(username)
                                div(style="padding:2px 5px 2px 2px;")
                                    div(style="background-color:#d3e9d5; cursor:pointer; color:#316b59; padding:5px 45px 5px 45px; border-radius:20px; font-weight:700;" onclick="window.location='/account/logout'") Logout
                            else
                                div
                                    div(style="padding:10px; cursor:pointer; color:#316b59; font-weight:700;" onclick="window.location='/createUser'") Sign up
            div(style="background:white; flex-grow:1;")

        div(style="width:100%;")

    div(style="width=100%; height: 170px;")


script.
  window.onload = function(){
      const navButton = document.querySelector('.menu-toggle');
      const activeButton = document.querySelector('nav ul');
      navButton.addEventListener('click', (e) => {
        if(e.target.nodeName == "BUTTON") {
          activeButton.classList.toggle('active-nav');
        }
  });

  };


mixin indexPostLinks(posts)
  div.indexPostLinks
    each post in posts
      +singlePostLink(post)

mixin singlePostLink(post)
  div.singlePostLink(id="post#{post.id}")
        +postVotes(post)
        div.postLinkContent
          p.forumAsker #{post.author} asks:
          h3(class="forumTitle" onclick="goToPost(#{post.id})" style="cursor:pointer;") #{post.subject}
          +postLinkMeta(post)

mixin responsePosts(posts)
  div.indexPostLinks
    each post in posts
      +singleResponsePost(post)

mixin singleResponsePost(post)
  if(post.acceptedAnswer)
    div.singlePostLink(id="post#{post.id}" class="accepted")
      +singleResponsePostBody(post)
  else
    div.singlePostLink(id="post#{post.id}")
        +singleResponsePostBody(post)

mixin singleResponsePostBody(post)
    if post.acceptedAnswer
        p.acceptedBadge Accepted Answer:
    p.forumAsker #{post.author} says:
    h3.forumTitle #{post.subject}
    textarea(id="post#{post.id}_body") #{post.body}
    script.
            var myPostId = "post" + !{JSON.stringify(post.id)} + "_body";
            var myPostBody = !{JSON.stringify(post.body)};
            var simplemde = new SimpleMDE({
                element: document.getElementById(myPostId),
                status: false,
                toolbar: false
            });
            simplemde.value(myPostBody);
            simplemde.togglePreview();
    +postMeta(post)
    +responseComments(post.children)
    +discussionResponseBox(post)

mixin responseComments(posts)
  div.comments
    each post in posts
      +singleComment(post)

mixin singleComment(post)
  div.singleComment
    p.forumAsker #{post.author} says:
    p.postBody #{post.body}

mixin discussionResponseBox(post)
  div(class="responseBox hide" id="responseBox#{post.id}")
    form(action="" id="responseForm#{post.id}")
      label Your response:
      input(type="hidden" name="questionTitle" value="Re: #{post.subject}")
      textarea(name="questionBody")
      input(type="hidden" name="parentPost" value="#{post.id}")
      input(type="button" onClick="submitComment('responseForm#{post.id}', true)" value="Submit Comment")


mixin postMeta(post)
  -var totalVotes = post.upvotes - post.downvotes;
  div.forumPostMeta
    div(style="margin-bottom:10px; display:flex; flex-direction:column; align-items:flex-start;")
        div(style="display:flex; flex-direction:column; align-items:center;")
          div(onClick="vote(#{post.userVoteStatus}, 1, #{post.id})" style="cursor:pointer; display:flex; flex-direction:column; align-items:center;")
            div.upvotes(style="font-size:12px; background-color:#d3e9d5; border-radius:10px;") upvote
            img(src="/images/arrow-up.svg" style="height:20px; transform: rotate(-90deg);")
          div(style="font-size:20px; background-color:#d3e9d5; width:20px; height:20px; border-radius:100%; padding:10px; text-align:center;") #{totalVotes}
          //span.number(id="upvotes-#{post.id}") #{post.upvotes}
          div(onClick="vote(#{post.userVoteStatus}, -1, #{post.id})" style="cursor:pointer; display:flex; flex-direction:column; align-items:center;")
              img(src="/images/arrow-up.svg" style="height:20px; transform: rotate(90deg);")
              div.downvotes(style="font-size:12px; background-color:#d3e9d5; border-radius:10px;") downvote
          //span.number(id="downvotes-#{post.id}")  #{post.downvotes}

    span.views views:
      span.number #{post.views}
    -tags = {};
    if(post.tags && post.tags.length > 0)
        -tags = post.tags.split(',');

        if(tags)
          each tag in tags
            -var stringTag = "window.location='/forum/tag?tag=" + JSON.stringify(tag).substr(1,JSON.stringify(tag).length-2) + "'";
            span(onClick=stringTag).tag #{tag}
    if(post.parent == -1)
      button(class="replyButton" onClick="replyTo(#{post.id}, #{post.parent})") Answer
    else
      button(class="replyButton" onClick="replyTo(#{post.id}, #{post.parent})") Comment
    if post.canAccept
      button(class="replyButton" onClick="accept(#{post.id}, #{post.parent})") Accept


mixin postVotes(post)
  div.forumPostVotes
    span.upvotes +
      span.number(id="upvotes-#{post.id}")  #{post.upvotes}
    span.votesDelta
      span.number(id="votes-#{post.id}") #{post.votesDelta}
    span.downvotes –
      span.number  #{post.downvotes}

mixin postLinkMeta(post)
  div.postLinkMeta
    p.postLinkStatus Asked #{post.stringCreationDate}. #{post.stringAnsweredBy}
      a(href="/forum/post?id=#{post.id}")  Join the discussion!

mixin forumHeader()
  div.forumHeader
    div.searchOption
      form(action="/forum/search"  method="GET")
        input(type="text" placeholder="Search the forums for discussions and answers" name="s")
        button(value="Submit") Search
    if sort
      div.sortOption Sort by:
        if sort == "score"
          span(onclick="resortBy('date')") Most Recent |
          span.active Best Voted
        if sort == "date"
          span.active Most Recent |
          span(onclick="resortBy('score')") Best Voted
    div.askOption
      button(value="Ask a Question" onclick="askQuestion()") Ask a Question

mixin forumPager(posts)
  div.forumPager
    p PAGE
    p.pager
      if lastPage
        span.pageButton(onclick="turnPage(#{lastPage})") <
      span.pageCount #{page}/#{finalPage}
      if nextPage
        span.pageButton(onclick="turnPage(#{nextPage})") >



mixin footer()
    div(style="margin:auto; max-width:1200px; display:flex; justify-content:space-between; padding-top:10px;")
        div
            img(src="/images/UBHub_logo_horizwebsite.svg" style="height:60px; margin-bottom:10px;")
        div(style="width:200px;" class="smallText") The Urban Biodiversity Hub (UBHub) helps cities around the world to choose a biodiversity strategy, then measure and improve their Biodiversity Strategy and Action Plans (BSAPs).
        div
            div(class="smallText" style="cursor:pointer;" onclick="window.location='/home'") Home
            div(class="smallText" style="cursor:pointer;" onclick="window.location='/dashboard'") myHub
            div(class="smallText" style="cursor:pointer;" onclick="window.location='/resources'") Guide
            div(class="smallText" style="cursor:pointer;" onclick="window.location='/aboutUs'") About Us
            div(class="smallText" style="cursor:pointer;" onclick="window.location='/forum'") Forum
            div(class="smallText" style="cursor:pointer;" onclick="window.location='/account'") Account
        div
            div(class="smallText") Contact us
            div(class="smallText") ubhub.org@gmail.com
            div(class="smallText") Copyright info

script.

    function getCircularReplacer() {
        const seen = new WeakSet();
        return function (key, value) {
            if (typeof value === "object" && value !== null) {
                if (seen.has(value)) {
                    return;
                }
                seen.add(value);
            }
            return value;
        };
    };

    function httpPost(theUrl, callback, data) {
        const xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function () {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                callback(xmlHttp.responseText);
        }
        xmlHttp.open("POST", theUrl, true); // true for asynchronous
        xmlHttp.setRequestHeader("Content-Type", "application/json; charset=utf-8");
        const dataAsJson = JSON.stringify(data, getCircularReplacer());
        console.log(dataAsJson);
        console.log(JSON.parse(dataAsJson));
        xmlHttp.send(dataAsJson);
    }
