doctype html
include mixins
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/forumscripts.js')

        script.
            function goToDashboard() {
                console.log("clicked");
            }

      script(type='text/javascript').
        var post = !{JSON.stringify(postTree)};
        console.log(post);
        console.log(post.author);

body
    +header(true)
    div.spacer
    div.contentContainer
      +forumHeader()
      p.forumAsker #{postTree.author} asks:
      h2.forumTitle #{postTree.subject}
      p.postBody #{postTree.body}
      +postMeta(postTree)
      div
        +responsePosts(postTree.children)
        form(action="" id="askForm")
          label Your Response:
          input(type="text" name="questionTitle")
          label Details:
          textarea(name="questionBody")
          input(type="hidden" name="parentPost" value="#{postTree.id}")
          input(type="button" onclick="submitQuestion('askForm')" value="Submit Response")
    div.spacer
  +footer
